h1 {
    font-size: 30px;
}

.messageBubble {
    list-style-type: none;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    color: black;
    display: inline-block;
    max-width: 60%;
    margin: 5px 0 5px -15px;
    white-space: pre-wrap; 
    overflow-wrap: break-word;
}

/* start of message bar */
#messageSpan {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 95%;
    height: 42px;
    float: left;
}

#messageBox:hover, #messageBox:focus, #sendMsgButton:hover, #sendMsgButton:focus {
    border: none;
    outline: none;
}

#messageBox {
    font-size: 14px;
    padding: 5px 5px 5px 15px !important;
    border-radius: 15px;
    float: left;
    outline: none; 
    user-select: text; 
    white-space: pre-wrap; 
    overflow-wrap: break-word;
}

#sendMsgBtn {
    width: 15%;
    margin-left: 10px;
    border-radius: 15px;
    float: right;
}

/* end of message bar */

/* div {
    padding: 10px;
} */

button {
    padding: 5px !important;
    margin-right: 6px;
}

.topnav {
    background-color: rgba(0, 0, 0, 0.507);
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 30px;
    padding: 10px;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 7px 1px;
    text-decoration: none;
    font-size: 17px;
}
  
  /* Change the color of links on hover */
.topnav a:hover, a:focus {
    color: rgb(182, 182, 182);
    border: none;
    outline: none;
}
  
