h1 {
    font-size: 30px;
}

li {
    list-style-type: none;
    margin-left: -15px;
}

#messageBox {
    width: 100%;
    font-size: 16px;
    /* padding: 10px !important; */
    padding: 10px -10px 10px 10px !important;
}

div {
    padding: 10px;
}

button {
    padding: 5px !important;
    margin-right: 6px;
}